.container {
  header {
    height: 70vh;
    background: (
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../assets/images/background.jpg")
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5 {
      font-size: 2.4rem;
      font-weight: 500;
      width: 70%;
      color: hsl(0, 0%, 100%);
      text-align: center;
    }

    .search-container {
      display: flex;
      background-color: hsl(0, 0%, 100%);
      margin-top: 2rem;
      padding: 0.5rem;
      width: 50%;
      border-radius: 1rem;

      input {
        flex-grow: 1;
        border: none;
        padding: 0.5rem;
        font-size: 1.2rem;
        margin-left: 0.5rem;

        &:focus-visible {
          outline: none !important;
        }
      }

      button {
        background-color: hsl(0, 0%, 100%);
        border: none;
        padding: 0rem 1rem;
      }
    }
  }

  main {
    margin-top: 2rem;
    .categories {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;

        li {
          padding: 0.8rem 1rem;
          font-size: 1.2rem;
          font-weight: 500;
          color: hsl(0, 0%, 50%);
          cursor: pointer;
        }

        .active {
          background-color: hsl(0, 0%, 10%);
          color: hsl(0, 0%, 100%);
          border-radius: 1.5rem;
        }
      }
    }

    section {
      h4 {
        color: hsl(0, 0%, 25%);
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 2.5rem;
      }
    }
  }
}
